<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>最終確認画面</title>
	<link rel="stylesheet" th:href="@{/css/delete.css}">
</head>

<body>

	<h1>本当によろしいですか？</h1>

	<div class="info-container">
		<div class="button-container">
			<!--ユーザー削除-->
			<form th:action="@{delete-ok}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<button type="submit" class="btn-delete">削除</button>
			</form>

			<!--マイページ遷移-->
			<a th:href="@{/mypage}" class="btn-back">マイページに戻る</a>
		</div>
	</div>
</body>

</html>